@import url('https://fonts.googleapis.com/css?family=ADLaM Display');

body{
    background: #322C2B;
    color: #E4C59E;
    font-family: 'ADLaM Display';
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

a{
    color: #B85C38;
    text-decoration: none;
}

p{
    line-height: 22px;
}

.nav{
    padding: 10px;
    text-align: center;
}

.nav a{
    padding: 10px;
}
