/*
Site Color Palette:
- Background: #282828
- Text: #f0f0f0
- Alt-text: #fbf1c7
- Links: #458588
- Miscellaneous: #83a598
*/

:root {
    --black: #282828;
    --white: #f0f0f0;
    --off-white: #fbf1c7;
    --blue: #458588;
    --light-blue: #83a598;
}

@import url('https://fonts.googleapis.com/css?family=ADLaM Display');

body{
    background: var(--black);
    color: var(--white);
    font-family: "Roboto","Arial",sans-serif;
    font-weight: 700;
    font-style: normal;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

a{
    color: var(--light-blue);
    text-decoration: var(--blue) underline;
}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--blue);
    border-radius: 2px;
    margin: 1em 0;
    padding: 0;
    border-color: var(--blue);
    background-color: var(--blue);
}

p{
    line-height: 22px;
}

.nav{
    padding: 10px;
    text-align: center;
}

.nav a{
    padding: 10px;
}
