@import './styles/gruvbox-dark.css';
:root {
    --background: #1c1c1c;
    --text: white;
    --link: #d79921;
    --blue: #30B0B8;
    --line: #8b8b8b;
}

body {
    background: var(--background);
    color: var(--text);
    font-family: "Roboto","Arial",sans-serif;
    font-weight: 575;
    font-size: 17px;
    font-style: normal;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

a {
    color: var(--blue);
    text-decoration: var(--blue) none;
}

a:hover {
    text-decoration: var(--blue) underline;
}

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid var(--line);
    border-radius: 4px;
    margin: 1em 0;
    padding: 0;
    border-color: var(--line);
    background-color: var(--line);
}

p {
    line-height: 22px;
}

ul li {
    margin-bottom: 3px;
}

.nav {
    padding: 10px;
    text-align: center;
}

.nav a {
    padding: 10px;
}

img {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid var(--line);
    border-right: 1px solid var(--line);
    border-left: 1px solid var(--line);
    border-top: 1px solid var(--line);
}

th {
    font-weight: bold;
    background-color: #333333;
    color: white;
}

td {
    color: white;
}

/*Responsive shit*/
@media only screen and (max-width: 600px) {
    body {
        font-size: 15px;
        font-weight: 300px;
        padding: 0 5px;
        margin-left: auto;
        margin-right: auto;
    }

    .nav a {
        padding: 8px;
    }

    p {
        line-height: 20px;
    }

    ul li {
        margin-bottom: 2px;
    }

    table {
        font-size: 14px;
    }

    th, td {
        padding: 8px;
    }
}
